body {

	background-image: url("images/factory.png"); 
	background-size:cover;
	postion:fixed;
  }


h1{

	display: inline-block;
	padding: 70 px;
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;

}

h2{
	margin-top:0px;
	font-size:50px;
	font-family: 'Zefani', sans-serif;
	color: black;
	background:lightgray;
}

h3{

margin-top:0px;
	font-size:10px;
	color: black;

}

p{

font-size:25px;
color:white;

}


li{

font-size:20px;
color:black;

}


.navbar{
	background:SteelBlue ;
	font-family: calibri;
	padding-right: 15px;
	padding-left: 15px;
	text-decoration: none;
}

.navbar ul{
	list-style-type: none;
	background-color: SteelBlue ;
	padding: 0px;
	margin: 0px;
	overflow: hidden; 
}

.navbar a{

	color: white;
	text-decoration: none;
	padding: 70 px;
	display: block;
	text-align: center;
	font-size: 25px;
	
}


.navbar a:hover{
	background-color: Navy ;
}




 li{
	list-style:none;
	display:inline-block;
}

li a{
	color: black;
	font-size:18px;
	font-weight:bold;
	margin-right: 25px;
}

footer{

color: black;

}

.rotate-image {
    width: 300px; 
    height: auto; 
    transition: transform 0.5s ease;
}


.rotate-image:hover {
    transform: rotate(360deg); 
}

.border{

border: 10px solid black;

}

.image5{

border: 5px solid darblue;

}

.image-pic {
    display: flex;
    margin-right: 20px; 
    position: relative;
}



img[alt="Climate Change Image 4"] {
    border: 5px solid white; 
    transition: transform 0.5s ease, border 0.3s ease;
}

img[alt="Climate Change Image 4"]:hover {
    transform: rotate(360deg); 
}


img[alt="Climate Change Image 5"] {
    border: 5px solid darkblue; 
    transition: transform 0.5s ease, border 0.3s ease;
}

img[alt="Climate Change Image 5"]:hover {
    transform: scale(1.2); 
}


img[alt="Climate Change Image 6"] {
    border: 5px solid gray; 
    transition: transform 0.5s ease, border 0.3s ease;
}

img[alt="Climate Change Image 6"]:hover {
    transform: scale(1.2); 
}


img[alt="Climate Change Image 7"] {
    border: 5px solid lightblue;
    transition: transform 0.5s ease, border 0.3s ease;
}

img[alt="Climate Change Image 7"]:hover {
    transform: scale(1.2); 
}


img[alt="Climate Change Image 8"] {
    border: 5px solid lightgray; 
    transition: transform 0.5s ease, border 0.3s ease;
}

img[alt="Climate Change Image 8"]:hover {
    transform: scale(1.2) ; 
}


.rotate-image {
    transition: transform 0.5s ease; 
}





	
